<template>
  <section class="room-container">
    <div class="left-box">
      <div class="header">
        A101
      </div>
      <div class="body">
        <div class="dateupcoming">
          <div class="upcoming">Upcoming</div>
          <div class="month">{{ today.toLocaleString('en-us', {  weekday: 'long' }) }}</div>
          <div class="date">{{today.getDate()}} {{today.toLocaleString('en-us', {  month: 'short' })}}</div>
        </div>
        <div class="showtime" v-for="obj in bookings.today" :key="obj.id">
          <div class="time">{{ renderRoomTime(obj) }}</div>
          <div class="text">{{ obj.title }}</div>
        </div>
      </div>
    </div>
    <div class="right-box">
      <div class="header">
        <div class="btn"
             v-bind:class="{ active: (currentClick==='THIS WEEK') }"
             v-on:click="onClickChangeDisplay('THIS WEEK')">
          THIS WEEK
        </div>
        <div class="btn"
             v-bind:class="{ active: (currentClick==='NEXT WEEK') }"
             v-on:click="onClickChangeDisplay('NEXT WEEK')">
          NEXT WEEK
        </div>
        <div class="btn"
             v-bind:class="{ active: (currentClick==='WHOLE MONTH') }"
             v-on:click="onClickChangeDisplay('WHOLE MONTH')">
          WHOLE MONTH
        </div>
      </div>
      <div class="body">
        <div v-for="(array, index) in renderBookings" :key="index">
          <div class="date-header">
            {{renderRoomDateByString(index)}}
          </div>
          <div class="date-list" v-bind:class="[color(i)]" v-for="(obj,i) in array" :key="obj.id">
            <div class="date">{{ renderRoomTime(obj) }}</div>
            <div class="text">{{ obj.title }}</div>
          </div>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'bookings_today',
  components: {
    // AppLogo
  },
  data() {
    let today = new Date(2019,8, 28, 13, 1); // fix today
    let onejan = new Date(today.getFullYear(), 0, 1);

    return {
      rooms: require('../../store/demo-booking-data.json'),
      today: today,
      weekToday: Math.ceil((((today.getTime() - onejan.getTime()) / 86400000) + onejan.getDay() + 2) / 7),
      bookings: {},
      currentClick: 'THIS WEEK',
      renderBookings: {}
    }
  },
  methods: {
    onClickChangeDisplay(val) {
      this.currentClick = val;
      switch (this.currentClick) {
        case "THIS WEEK":
          this.renderBookings = this.bookings.thisWeek;
          break;
        case "NEXT WEEK":
          this.renderBookings = this.bookings.nextWeek;
          break;
        case "WHOLE MONTH":
          this.renderBookings = this.bookings.month;
          break;
      }
    },
    color(i) {
      return 'color-'+(i+1);
    },
    renderRoomDateByString(dateString) {
      let dateParts = dateString.split('-');
      let date = new Date(dateParts[0], parseInt(dateParts[1], 10) - 1, dateParts[2]);
      return date.toLocaleString('en-us', {  weekday: 'short' })+", "+date.getDate()+" "+date.toLocaleString('en-us', {  month: 'short' });
    },
    renderRoomTime(obj) {
      let dateTimeParts1 = obj.startTime.split(' ');
      let timeParts1 = dateTimeParts1[1].split(':');


      let dateTimeParts2 = obj.endTime.split(' ');
      let timeParts2 = dateTimeParts2[1].split(':');

      return timeParts1[0]+":"+timeParts1[1]+" - "+timeParts2[0]+":"+timeParts2[1];
    },
    convertDateStringToDate(dateString) {
      let dateTimeParts = dateString.split(' '),
      timeParts = dateTimeParts[1].split(':'),
      dateParts = dateTimeParts[0].split('-');
      let date = new Date(dateParts[0], parseInt(dateParts[1], 10) - 1, dateParts[2], timeParts[0], timeParts[1], timeParts[2]);
      return date;
    },
    checkAvailability(roomId, startTime, endTime) {
      let startDate = this.convertDateStringToDate(startTime);
      let endDate = this.convertDateStringToDate(endTime);
      if (startDate.getTime() > endDate.getTime()) {
        return false;
      }
      let result = true;
      this.rooms.forEach((obj) => {
        if (roomId === obj.roomId) {
          let roomStartDate = this.convertDateStringToDate(obj.startTime);
          let roomEndDate = this.convertDateStringToDate(obj.endTime);
          if (
            //    |--------|
            // |--------|
            (startDate.getTime() >= roomStartDate.getTime() &&
            startDate.getTime() <= roomEndDate.getTime() &&
            endDate.getTime() >= roomStartDate.getTime() &&
            endDate.getTime() >= roomEndDate.getTime()) ||

            // |--------|
            //    |--------|
            (startDate.getTime() <= roomStartDate.getTime() &&
            startDate.getTime() <= roomEndDate.getTime() &&
            endDate.getTime() >= roomStartDate.getTime() &&
            endDate.getTime() <= roomEndDate.getTime()) ||

            //   |--------|
            // |------------|
            (startDate.getTime() >= roomStartDate.getTime() &&
            startDate.getTime() <= roomEndDate.getTime() &&
            endDate.getTime() >= roomStartDate.getTime() &&
            endDate.getTime() <= roomEndDate.getTime()) ||

            // |------------|
            //   |--------|
            (startDate.getTime() <= roomStartDate.getTime() &&
            startDate.getTime() <= roomEndDate.getTime() &&
            endDate.getTime() >= roomStartDate.getTime() &&
            endDate.getTime() >= roomEndDate.getTime())
          ) {
            result = false;
          }
        }

      });
      return result;
    },
    getBookingsForWeek(roomId, weekNo) {
      let result = {
        today: [],
        thisWeek: {},
        nextWeek: {},
        month: {}
      };
      this.rooms.forEach((obj) => {
        if (roomId === obj.roomId) {
          let roomStartDate = this.convertDateStringToDate(obj.startTime);
          // let roomEndDate = this.convertDateStringToDate(obj.endTime);
          let roomWeekNo = this.getWeekNumber(obj.startTime);
          if (weekNo === roomWeekNo) {
            let key = roomStartDate.getFullYear()+'-'+(roomStartDate.getMonth()+1)+'-'+roomStartDate.getDate();
            if (
              this.today.getFullYear() === roomStartDate.getFullYear() &&
              this.today.getMonth() === roomStartDate.getMonth() &&
              this.today.getDate() === roomStartDate.getDate()
            ) {
              if (this.today.getHours() <= roomStartDate.getHours()) {
                if (!result.thisWeek[key]) {
                  result.thisWeek[key] = [];
                }
                result.thisWeek[key].push(obj);
              }
            } else {
              if (!result.thisWeek[key]) {
                result.thisWeek[key] = [];
              }
              result.thisWeek[key].push(obj);
            }
          }

          if ((weekNo+1) ===  roomWeekNo) {
            let key = roomStartDate.getFullYear()+'-'+(roomStartDate.getMonth()+1)+'-'+roomStartDate.getDate();
            if (!result.nextWeek[key]) {
              result.nextWeek[key] = [];
            }
            result.nextWeek[key].push(obj);
          }

          // check today
          if (
            this.today.getFullYear() === roomStartDate.getFullYear() &&
            this.today.getMonth() === roomStartDate.getMonth() &&
            this.today.getDate() === roomStartDate.getDate() &&
            this.today.getHours() <= roomStartDate.getHours()
          ) {
            result.today.push(obj);
          }

          // check month
          if (
            this.today.getFullYear() === roomStartDate.getFullYear() &&
            this.today.getMonth() === roomStartDate.getMonth()
          ) {
            let key = roomStartDate.getFullYear()+'-'+(roomStartDate.getMonth()+1)+'-'+roomStartDate.getDate();

            if (
              this.today.getFullYear() === roomStartDate.getFullYear() &&
              this.today.getMonth() === roomStartDate.getMonth()
            ) {

              if (this.today.getDate() === roomStartDate.getDate()) {
                if (this.today.getHours() <= roomStartDate.getHours()) {
                  if (!result.month[key]) {
                    result.month[key] = [];
                  }
                  result.month[key].push(obj);
                }
              } else {
                if (!result.month[key]) {
                  result.month[key] = [];
                }
                result.month[key].push(obj);
              }

            } else {
              if (!result.month[key]) {
                result.month[key] = [];
              }
              result.month[key].push(obj);
            }
          }
        }
      });
      return result;
    },
    getWeekNumber(dateStr) {
      let d = this.convertDateStringToDate(dateStr)
      let onejan = new Date(d.getFullYear(), 0, 1);
      return Math.ceil((((d.getTime() - onejan.getTime()) / 86400000) + onejan.getDay() + 2) / 7);
    }
  },
  mounted() {
    let r = this.checkAvailability(this.$route.query.roomId, "2019-09-28 16:00:01", "2019-09-28 19:00:00")
    console.log("02 - Venue Booking System : " + r )

    this.bookings = this.getBookingsForWeek(this.$route.query.roomId, this.weekToday);
    this.onClickChangeDisplay('THIS WEEK');
  }
}
</script>

<style scoped>
@font-face {
  font-family: 'Roboto';
  src: url('../../static/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: url('../../static/fonts/Lato/Lato-Light.ttf') format('truetype');
}
* {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.right-box .body .date-list.color-1:before {
  background-color: #c83349;
}
.right-box .body .date-list.color-2:before {
  background-color: #e06377;
}
.right-box .body .date-list.color-3:before {
  background-color: #eeac99;
}
.right-box .body .date-list.color-4:before {
  background-color: #f9d5e5;
}
.right-box .body .date-list.color-5:before {
  background-color: #96ceb4;
}
.right-box .body .date-list.color-6:before {
  background-color: #ffeead;
}
.right-box .body .date-list.color-7:before {
  background-color: #ffcc5c;
}
.right-box .body .date-list.color-8:before {
  background-color: #622569;
}

.showtime .text {
  font-size: 16px;
}
.showtime .time {
  font-size: 16px;
  opacity: 0.5;
}
.showtime {
  margin: 20px 0;
}
.dateupcoming .date {
  font-size: 64px;
  font-family: "Lato", "Roboto", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 40px;
}
.dateupcoming .month {
  font-size: 64px;
  opacity: 0.5;
  font-family: "Lato", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.dateupcoming .upcoming {
  font-size: 18px;
  padding: 120px 0 40px;
  font-family: "Lato", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}
.dateupcoming {
  display: flex;
  flex-direction: column;
}

.right-box .body .date-list .text {
  font-size: 18px;
  color: #000000;
}

.right-box .body .date-list .date {
  font-size: 16px;
  color: #000000;
  opacity: 0.5;
}
.right-box .body .date-list {
  padding: 20px 90px;
}
.right-box .body .date-header {
  font-size: 16px;
  font-weight: bold;
  color: #787878;
  background: #F7F7F7;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  padding: 15px 90px;
  margin-top: 60px;
  z-index: 2;
  position: relative;
}

.right-box .body .date-list {
  z-index: 2;
  position: relative;
}
.right-box .body .date-list:before {
  content: "";
  background-color: #e8e8e8;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 55px;
  top: 26px;
}

.right-box .body .line {
  position: absolute;
  width: 60px;
  min-height: 100%;
  border: 1px solid #ECECEC;
  top: 0;
  left: 0;
  z-index: 1;
}

.right-box .header .btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 22px;
  padding: 0 20px 20px;
  color: #000000;
  opacity: 0.5;
  cursor: pointer;
}
.right-box .header .btn.active {
  position: relative;
  opacity: 1;
}
.right-box .header .btn.active:before {
  content: "";
  background: #707FDD;
  box-shadow: 0 -1px 16px rgba(112, 127, 221, 0.75);
  position: absolute;
  width: 51px;
  height: 4px;
  left: 50%;
  bottom: 0;
  margin-left: -26px;
}
.right-box .header {
  height: 135px;
  background-color: #EFEEEC;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.right-box {
  flex: 1;
  position: relative;
}
.left-box .header {
  background-color: #2EBAEE;
  height: 135px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 56px;
  padding: 20px 40px;
  font-weight: bold;
}
.left-box {
  flex: 0 0 480px;
  background-color: #46529D;
  color: #ffffff;
  padding: 0 0 0 90px;
}
.room-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
</style>
