<template>
  <section class="photos-container">
    <div class="header-box">
      <div class="text">Everyone's photos</div>
      <div class="length">View all {{photos.length}}</div>
    </div>
    <div class="image-box">
      <div class="image-detail" v-for="photo in photos" :key="photo.id">
        <img class="image" :src="photo.download_url" />
      </div>
    </div>
  </section>
</template>

<script>
// import AppLogo from '~/components/AppLogo.vue'
import axios from 'axios'
// import 'assets/sass/index.scss';

export default {
  name: 'index',
  components: {
    // AppLogo
  },
  data() {
    return {
      photos: []
    }
  },
  methods: {
    //
    getPicsumPhotos() {
      let that = this;
      axios.get('https://picsum.photos/v2/list')
        .then(function (response) {
          that.photos = response.data;
          console.log(that.photos);
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getPicsumPhotos()
  }
}
</script>

<style scoped>
.image {
  height: 100%;
}
.image-detail {
  height: 150px;
  margin: 2px 2px;
}

.image-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-box .length {
  flex: 1;
  text-align: right;
  color: cornflowerblue;
}
.header-box .text {
  flex: 1;
}
.header-box {
  display: flex;
  flex-direction: row;
}
.photos-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f6;
  padding: 4px;
}
</style>
